@charset "UTF-8";
        /* http://meyerweb.com/eric/tools/css/reset/ 
           v2.0 | 20110126
           License: none (public domain)
        */

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            background-color: #F0F0F0;
            line-height: 1;
            margin: 0;
            height: 300vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        /* EINDE CSS RESET */
        /* BEGIN RESPONSIVE OPZET */
        * {
            box-sizing: border-box;
        }
        .row:after {
            content: "";
            clear: both;
            display: table;
        }

        [class*="col-"] {
            float: left;
            width: 100%;
            /* Ter demonstratie hebben kolommen een border, doe maar weg voor je eigen werk */
            border: solid 1px grey;
        }

        @keyframes pulse {
            0%, 100% {
                transform: translate(-50%, -50%) scale(1);
            }
            50% {
                transform: translate(-50%, -50%) scale(1.2);
            }
        }

        @keyframes pulse-line {
            0%, 100% {
                transform: translate(-50%, -50%) scaleY(1);
            }
            50% {
                transform: translate(-50%, -50%) scaleY(1.1);
            }
        }
        @keyframes stretch-and-spin {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
            50% {
                transform: translate(-50%, -50%) rotate(90deg);
                width: 2px;
                height: 15px;
                border-radius: 0;
            }
            100% {
                transform: translate(-50%, -50%) rotate(0deg);
                width: 2px;
                height: 30px;
                border-radius: 0;
            }
        }

        /* Voor MOBIEL */
        @media only screen and (max-width: 600px) {
            .col-m-1 {width: 8.33%;}
            .col-m-2 {width: 16.66%;}
            .col-m-3 {width: 25%;}
            .col-m-4 {width: 33.33%;}
            .col-m-5 {width: 41.66%;}
            .col-m-6 {width: 50%;}
            .col-m-7 {width: 58.33%;}
            .col-m-8 {width: 66.66%;}
            .col-m-9 {width: 75%;}
            .col-m-10 {width: 83.33%;}
            .col-m-11 {width: 91.66%;}
            .col-m-12 {width: 100%;}

            /* MOBIELE code binnen deze accolades van het @media stuk */
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                font-family: "Poppins", sans-serif;
            }

            @font-face {
                font-family: Futura;
                src: local("fonts/Futura-Bold-font.ttf");
            }

            #cursor-circle {
                position: fixed;
                width: 20px;
                height: 20px;
                background-color: #ADADAD;
                border-radius: 50%;
                pointer-events: none;
                transform: translate(-50%, -50%);
                z-index: 9999;
                transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, transform 0.3s ease;
                animation: pulse 1.5s infinite ease-in-out;
            }

            #cursor-circle.text-select {
                width: 3px;
                height: 30px;
                border-radius: 1px;
                background-color: #ADADAD;
                animation: stretch-and-spin 0.3s ease forwards, pulse-line 1.5s infinite ease-in-out;
            }

            .tab-header, .menu-items a, #text1, #titel {
                cursor: text;
            }

            body {
                margin: 0;
                display: flex;
                background: #F0F0F0;
                overflow-x: hidden;
            }

            .tab-container::-webkit-scrollbar {
                display: none;
            }

            .tab {
                width: 80%;
                max-width: 400px;
                height: 200px;
                margin: 50px auto;
                background: #fff;
                border-radius: 10px;
                transform: rotateX(-40deg);
                transition: transform 0.8s ease, opacity 0.8s ease;
                scroll-snap-align: center;
                position: relative;
            }

            .tab--centered {
                z-index: 10;
            }

            .container2 {
				margin-top:-50vh;
                height: 50vh;
                background: #F0F0F0;
            }

            .tab-header {
                cursor: text;
                background: #f5f5f5;
                padding: 10px;
                color: black;
                text-decoration: none;
                text-align: center;
                font-family: "futura";
                font-weight: bold;
                border-bottom: 1px solid #ddd;
            }

            .tab-content {
                padding: 20px;
            }

            .tab::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
                pointer-events: none;
            }
			#kijkeens{
				font-family: futura;
				font-size: 3vw;
				text-align:center;
				margin-left:21vw;
				margin-top:51vh;
				position:absolute;
			}
            .images {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                width:69.6vw;
				float:center;
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
                margin-top: -3vh;
                margin-left: -3.5vw;
            }

            .extraplace {
                height: 100vh;
                width: 1vw;
                margin-top: 300vh;
                scroll-snap-align: end;
            }

            .navbar {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1000;
            }

            .hamburger-checkbox {
                display: none;
            }

            .hamburger-label {
                position: fixed;
                top: 20px;
                right: 20px;
                width: 30px;
                height: 20px;
                cursor: pointer;
                z-index: 1001;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .line {
                width: 8px;
                height: 25px;
                background-color: #333;
                transition: all 0.3s ease;
                position: absolute;
            }

            .line1 {
                transform: rotate(-45deg) translate(-31px, 15px);
                transform-origin: center;
            }

            .line3 {
                transform: rotate(45deg) translate(6px, 21.5px);
                transform-origin: center;
            }

            .hamburger-checkbox:checked + .hamburger-label .line1 {
                transform: rotate(-45deg) translate(-35.2px, -3px);
                transform-origin: left;
                width: 8px;
                height: 20px;
                margin-left: 4.5px;
                margin-top: 6px;
                background-color: #333;
            }
            .containertitel {
                width: 100%;
                height: 20vh;
                border: 1px solid red;
                position: absolute;
            }
            .hamburger-checkbox:checked + .hamburger-label .line3 {
                transform: rotate(45deg) translate(10px, 23px);
                transform-origin: left;
                width: 8px;
                height: 25px;
                background-color: #333;
            }

            .menu-items {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background: #F0F0F0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transform: translateY(-100%);
                transition: transform 0.5s ease;
                z-index: 1000;
            }

            .hamburger-checkbox:checked ~ .menu-items {
                transform: translateY(0);
            }

            .menu-items li {
                list-style: none;
                margin: 40px 0;
            }
            .menu-items a {
                cursor: text;
                text-decoration: none;
                color: #333;
                font-size: 28px;
                font-weight: bold;
                transition: color 0.3s ease;
            }

            .menu-items a:hover {
                color: #666;
            }
            .thinline {
                width: 50vw;
                height: 1px;
                background-color: #838383;
            }
            .social-icons {
                position: absolute;
                width: 15px;
                height: 40px;
                margin-top: 80vh;
                margin-left: -25vw;
                display: flex;
                gap: 100px;
            } 
            .intro-section {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background: black;
                z-index: 10000;
                opacity: 1; 
                transition: opacity 5s ease;
            }

            .intro-section--hidden {
                opacity: 0;
                display: none;
            }

.tab-container {
    z-index: 0;
    width: 100%;
    height: 200vh;
    margin-top: -100vh;
    perspective: 1500px;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-top: 0;
    padding-bottom: 100px;
    transform: translateY(100vh);
    transition: transform 1s ease; 
}

.tab-container.slide-up {
    transform: translateY(0);
}

#titel {
    font-family: "futura";
    position: absolute;
    top: 0px;
    z-index: 1;
    color: #333;
    cursor: text;
    font-size: 8vh;
    margin-left: -35vw;
    margin-top: 4vh;
    transition: transform 0.5s ease;
    background-color: #F0F0F0;
    transform: translateY(100vh);
}

#titel.titel-visible {
    transform: translateY(0)
}  
        }
		#text1{
			margin-top:30vh;
			font-size:2.5vh;
			margin-left:4vw;
			font-family: futura;
			position:absolute;
			
		}
#laatstediv{
	font-size:3vh;
	font-family: futura;
	text-align: center;
	text-decoration:none;
	color:#333;
}
        /* Voor DESKTOP */
        @media only screen and (min-width: 601px) {
            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}

            /* DESKTOP code binnen deze accolades van het @media stuk */
        }